.button{
    padding: .8rem 1.3rem;
    margin: 0.3rem;
    border-radius: $border-radius;
    cursor: pointer;
    color: var(--color-text);
    background: var(--color-third);
    animation-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    @keyframes button-hover {
        0%   {
            background: var(--color-third);
            color: var(--color-text);
        }
        100% {
            background: var(--color-blue);
            color: var(--color-white);
        }
      }
    &:hover{
        background: var(--color-blue);
        color: var(--color-white);
        animation-name: button-hover;
    }
    i{
        margin-right: 0rem;
    }
    span{
        display: none;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .button{
        i{
            margin-right: .6rem;
        }
        span{
            display: inline-block;
        }
    }
}