.main_login {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("https://i.pinimg.com/originals/93/b0/5f/93b05fd7f98957ca0d415c61fe384b13.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;

    .login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        backdrop-filter: blur(6px);
        background: rgba(255, 255, 255, 0.5);
        padding: 20px;

        &__title {
            font-size: 1.5em;
            font-weight: 600;
            padding: 0 20px;
            text-align: center;
            text-transform: uppercase;
        }

        .form__group {
            margin: 5px 0;
            display: flex;
            flex-direction: column;

            label {
                // text-align: right;
                margin-left: 5px;
                line-height: 30px;
                width: 80px;
            }
            span {
                flex-grow: 1;
                width: auto;
                height: 30px;
                padding: 5px 0px;
                input {
                    outline: none;
                    border: 1px solid #ccc;
                    margin-left: 5px;
                }
            }
            input[type="email"],
            input[type="password"] {
                flex-grow: 1;
                width: auto;
                height: 30px;
                padding: 5px 10px;
                outline: none;
                border-radius: 5px;
                border: 1px solid #ccc;
            }
        }
        .button {
            position: relative;
            height: 30px;

            button {
                width: 100%;
                height: 100%;
                position: absolute;
                right: 0;
                border-radius: 5px;
                padding: 5px 20px;
                outline: none;
                border: none;
                background-color: dodgerblue;
                color: #fff;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        .notification {
            // display: none;
            text-align: center;
            position: relative;
            color: red;
            padding: 10px 0px;
        }
    }
}

@media (max-width: 576px) {
    .login {
        width: 80%;
    }
}

@media (min-width: 576px) {
    .login {
        width: 70%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .login {
        width: 60%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .login {
        width: 40%;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .login {
        width: 30%;
    }
}