.button{
    border: none;
    outline: none;
    padding: .8rem 1.3rem;
    margin: 0.3rem;
    border-radius: $border-radius;
    cursor: pointer;
    color: var(--color-text);
    background: var(--color-third);
    animation-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    width: 100%;
    @keyframes button-hover {
        0%   {
            background: var(--color-third);
            color: var(--color-text);
        }
        100% {
            background: var(--color-blue);
            color: var(--color-white);
        }
      }
    &:hover{
        background: var(--color-blue);
        color: var(--color-white);
        animation-name: button-hover;
    }
    i{
                    margin-right: .6rem;
    }
    span{
        white-space: nowrap;
    }
}
.button-primary{
    background: var(--color-blue) !important;
    color: var(--color-white) !important;
    &:hover{
        animation: none !important;
        opacity: .8;
    }
}

.button-danger{
    background: $red !important;
    color: var(--color-white) !important;
    &:hover{
        animation: none !important;
        opacity: .8;
    }
}

.button-success{
    background: $green !important;
    color: var(--color-white) !important;
    &:hover{
        animation: none !important;
        opacity: .8;
    }
}

@media (min-width: 576px) {
    .button{
        width: 45%;
    }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .button{
        width: fit-content;
        i{
            margin-right: .6rem;
        }
        span{
            display: inline-block;
        }
    }
}